* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.upper {
    background-image: url('./images/bg-desktop-dark.jpg');
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
}

.upper2 {
    padding-top: 15vh;
    padding-right: 70vh;
    padding-left: 70vh;
}

.todo-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 80%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

#radio {
    background-color: hsl(233, 14%, 35%);
    border: none;
    color: hsl(233, 14%, 35%);
    padding: 10px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    clip-path: circle(46% at 50% 50%);
}

input[type="text"] {
    padding: 10px;
    width: 32vw;
    background-color: hsl(233, 14%, 35%);
    border: none;
    outline: none;
}

.lower {
    background-color: hsl(235, 24%, 19%);
    height: 60vh;
}

.lower1 {
    height: 50vh;
    width: 35vw;
    margin-left: 70vh;
    background-color: hsl(233, 14%, 35%);
}
.lowerinfo{
    border-bottom: 2px solid hsl(0, 0%, 98%);
    height: 90%;
}
.lower-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: hsl(0, 0%, 98%);
    height: 10%;
}

.center-items {
    display: flex;
    justify-content: baseline;
    gap: 5vh;
}

.right-items {
    display: flex;
    justify-content: flex-end;
    gap: 5vh;
}

.lower p {
    display: flex;
}
button{
    background-color: hsl(233, 14%, 35%);
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}
.lower button{
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}
.todo-item {
    display: flex;
    align-items: center;
    padding: 3vh;
}

.todo-item .checkbox {
    margin-right: 3vh;
}

.todo-item.completed span {
    text-decoration: line-through;
    color: hsl(0, 0%, 60%);
}
#reorder-button{
    margin-top: 5vh;
    font-family: 'Josefin Sans', sans-serif; 
    margin-left: 95vh; 
    background: none;
}
button:hover{
    cursor: pointer;
}
body.dark-mode {
    background-color: #222;
    color: #fff;
    background-image: url('/images/bg-desktop-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  body.light-mode {
    background-color: #fff;
    color: #000;
    background-image: url('/images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  