* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.upper {
    background-image: url('./images/bg-desktop-dark.jpg');
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-size: cover;
    background-repeat: no-repeat;
}

.upper2 {
    padding-top: 20vh;
    width: 35vw;
    /* padding-bottom: -5vh; */
}

.todo-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.inputform {
    height: 5vh;
}

#radio {
    background-color: hsl(233, 14%, 35%);
    border: none;
    color: hsl(233, 14%, 35%);
    /* padding: 10px; */
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    /* width: 20px;
    height: 20px; */
    clip-path: circle(46% at 50% 50%);
}

input[type="text"] {
    padding: 10px;
    width: 32vw;
    background-color: hsl(233, 14%, 35%);
    border: none;
    outline: none;
}

.lower {
    background-color: hsl(235, 24%, 19%);
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.lower1 {
    height: 50vh;
    width: 35vw;
    margin-top: -10vh;
    background-color: hsl(233, 14%, 35%);
}

.lowerinfo {
    border-bottom: 2px solid hsl(0, 0%, 98%);
    height: 90%;
}

.lower-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: hsl(0, 0%, 98%);
    height: 10%;
}

.center-items {
    display: flex;
    justify-content: baseline;
    gap: 5vh;
}

.right-items {
    display: flex;
    justify-content: flex-end;
    gap: 5vh;
}

.lower p {
    display: flex;
}

button {
    background-color: hsl(233, 14%, 35%);
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}

.lower button {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-decoration: none;
    color: hsl(234, 39%, 85%);
    border: none;
    font-family: 'Josefin Sans', sans-serif;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 2vh;
    border-bottom: 1px solid hsl(233, 11%, 84%);
}

.todo-item .checkbox {
    margin-right: 3vh;
}

.todo-item.completed span {
    text-decoration: line-through;
    color: hsl(0, 0%, 60%);
}

#reorder-button {
    margin-top: 5vh;
    font-family: 'Josefin Sans', sans-serif;
    background: none;
}

button:hover {
    cursor: pointer;
    color: hsl(235, 94%, 33%);
}

.light-mode {
    background-color: #fff;
    color: #000;
}


@media screen and (max-width: 800px) {
    .upper {
        background-image: url('./images/bg-mobile-dark.jpg');
        height: 40vh;
    }

    .upper2 {
        padding-top: 15vh;
        width: 70vw;
    }

    .lower1 {
        height: 50vh;
        width: 70vw;
        margin-top: -20vh;
        background-color: hsl(233, 14%, 35%);
    }

    .center-items {
        height: 5vh;
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35rem;
        background-color: hsl(233, 14%, 35%);
    }

    #reorder-button {
        margin-top: 15vh;
    }
}